<!-- <div class="content-container">
<section id="">
    <app-navbar></app-navbar>
    <app-intro></app-intro>
    
    <app-service></app-service>
    <app-coursily></app-coursily>
    <app-boutiexp></app-boutiexp>
  </section>
  
  <section>
    <app-about></app-about>
  </section>
  
  <section>
    <app-contact></app-contact>
  </section>
  <app-footer></app-footer>

</div> -->
<head>
  <title>Trium Market Researcher</title>
    <style>
        html {
          scroll-behavior: smooth;
        }
      </style>
      
</head>
<div class="content-container">
    <section id="hero">
        <app-navbar></app-navbar>
        <app-intro></app-intro>
        <app-service id="services"></app-service>
        <section id="coursily">
            <app-coursily></app-coursily>
        </section>
        <section id="boutiexp">
            <app-boutiexp></app-boutiexp>
        </section>
    </section>
    
    <section id="about">
        <app-about></app-about>
    </section>
    
    <section id="contact">
        <app-contact></app-contact>
    </section>
    <app-footer></app-footer>
</div>
