<!-- Service 4 - Bootstrap Brain Component -->
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/services/service-4/assets/css/service-4.css">
<section class="bg-light py-5 py-xl-8">
    <div class="container">
      <h1 class="h1 mb-6 text-center" style="font-weight: bold;" >Boutique Experience</h1>
      <div class="row justify-content-md-center">
        
        <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                  
          <h4 class="display-5 mb-5 text-center">We provide tailor-made service experiences from our team of dedicated experts who work with you one-on-one to provide hyper-customized strategies and exceed your expectations</h4>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-xl-0">
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-alarm text-primary mb-4" viewBox="0 0 16 16">
                <path d="M8 16a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm0-1A6 6 0 1 0 8 3a6 6 0 0 0 0 12z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3.8l2.7 1.6a.5.5 0 0 1-.5.8l-3-1.8A.5.5 0 0 1 7.5 9V4.5A.5.5 0 0 1 8 4zm-3.55-.646a.5.5 0 1 0-.707.708 5.978 5.978 0 0 1 1.351 1.516.5.5 0 1 0 .858-.514A6.978 6.978 0 0 0 4.45 3.354zM13.354 3.354a.5.5 0 0 0-.707-.707 5.978 5.978 0 0 0-1.516 1.351.5.5 0 1 0 .514.858 6.978 6.978 0 0 1 1.709-1.502z"/>
              </svg>
              <h4 class="mb-4">Market Research</h4>
              <p class="mb-4 text-secondary">Market research blends consumer behavior and economic trends to confirm and improve your business idea</p>
              <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-star text-primary mb-4" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.396.2-.86-.149-.746-.592l.83-3.583-2.662-2.292c-.329-.283-.158-.777.283-.792l3.898-.34 1.516-3.667c.197-.477.73-.477.927 0l1.516 3.667 3.898.34c.441.039.612.509.283.792l-2.662 2.292.83 3.583c.114.443-.35.792-.746.592L8 13.187l-3.389 2.256z"/>
              </svg>
              <h4 class="mb-4">Market Analysis</h4>
              <p class="mb-4 text-secondary">Market analysis is a detailed assessment of your business's target market. and the competitive landscape.</p>
              <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-lightning text-primary mb-4" viewBox="0 0 16 16">
                <path d="M11.3 1.046a.5.5 0 0 1 .65.76l-8 7a.5.5 0 0 1-.492.128L5.5 6H1.5a.5.5 0 0 1-.385-.82L6.5 1h4.5l.3.046zM8.58 14.537l-6.13-3.513a.5.5 0 0 1 .392-.907L7.5 11h4.5a.5.5 0 0 1 .385.82L9.5 15h-4.5l-.42-.463z"/>
              </svg>
              <h4 class="mb-4">Financial Analysis</h4>
              <p class="mb-4 text-secondary">Financial analysis is the process of examining a company's performance in the context of its industry.</p>
              <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-gear text-primary mb-4" viewBox="0 0 16 16">
                <path d="M9.667 1.333A.5.5 0 0 0 9 1H7a.5.5 0 0 0-.667.333l-.375 1.5a5.525 5.525 0 0 0-1.129.47l-1.47-.49a.5.5 0 0 0-.56.152l-1 1a.5.5 0 0 0-.153.56l.49 1.47a5.527 5.527 0 0 0-.47 1.13l-1.5.375A.5.5 0 0 0 1 7v2a.5.5 0 0 0 .333.667l1.5.375c.086.383.222.75.407 1.129l-.49 1.47a.5.5 0 0 0 .153.56l1 1a.5.5 0 0 0 .56.153l1.47-.49c.38.185.746.32 1.13.407l.375 1.5A.5.5 0 0 0 7 15h2a.5.5 0 0 0 .667-.333l.375-1.5a5.525 5.525 0 0 0 1.129-.47l1.47.49a.5.5 0 0 0 .56-.152l1-1a.5.5 0 0 0 .153-.56l-.49-1.47c.185-.38.32-.746.407-1.13l1.5-.375A.5.5 0 0 0 15 9V7a.5.5 0 0 0-.333-.667l-1.5-.375a5.527 5.527 0 0 0-.407-1.13l.49-1.47a.5.5 0 0 0-.153-.56l-1-1a.5.5 0 0 0-.56-.153l-1.47.49c-.38-.185-.746-.32-1.13-.407l-.375-1.5zM8 5a3 3 0 1 0 0 6 3 3 0 0 0 0-6z"/>
              </svg>
              <h4 class="mb-4">Mystery Shopping</h4>
              <p class="mb-4 text-secondary">The mystery shopper method is a research technique used to evaluate the quality of service or compliance with standards.</p>
              <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>